// _base.scss
// ================= 

body {
	@include bgImage('../images/headerbg.jpg');
	border-top: 5px solid $darkred;
}

span.icon {
	font-family: $fontawesome;
}

img {
	width: 100%;
	max-width: 100%;
}

.contentinner {
	.logopanel {
		@include single-transition(all, .2s, ease-in);
		background: $light;
		background-color: rgba($light, .8);
		border-bottom: 10px solid $darkred;
		@include box-shadow(6px 6px 10px rgba($dark, .5));
		@include clearfix;
		@include breakpoint($medium){
			display: none;
			margin-top: 200px;
			padding: 50px;
			border: 10px solid $darkred;
			@include box-shadow(6px 6px 10px rgba($dark, .5));
			@include span(8);
			@include pre(2);
		} // breakpoint
		.mainlogo {
			width: 60%;
			@include breakpoint($small){
				width: 30%;
			} // breakpoint/medium
			@include breakpoint($medium){
				width: 100%;
			} // breakpoint/large
			display: block;
			margin: 0 auto;
		} // mainlogo
	} // logopanel
}

.burger {
	font-family: $fontawesome !important;
	@include breakpoint($medium){
		display: none !important;
	}
}