// layout.scss
// ================= 

.sideNav {
	height: 1000px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	@include span(8);
	@include translateX(-500px);
	visibility: hidden;
	z-index: 999;
	@include breakpoint($medium){
		@include span(2);
		@include translateX(0px);
		visibility: visible;
		z-index: auto;
	} // breakpoint/medium

}

.pgcontent {
	@include span(12);
	@include breakpoint($medium){
		position: relative;
		@include span(10);
		@include pre(2);
	} // breakpoint/medium
	.contentinner {
		@include container;
	} // contentinner
} // pgcontent
