.bio {
	background: $light;
	color: $darkgrey;
	.innercontent {
		@include layout('left');
		border-top: 1px solid $red;
		@include breakpoint($medium){
			border-left: 1px solid $red;
		}
		h2 {
			font-family: $chunk;
			@include text-shadow(1px 1px $lightblue);
			color: $red;
		}
	}
}