.work {
	background: $darkgrey;
	color: $light;
	.innercontent {
		@include layout('right');
		border-top: 1px solid $light;
		@include breakpoint($medium){
			border-left: 1px solid $light;
		}
	}
}

.portfolio {
	#hero {
		background: $darkgrey;
		height: 685px;
		padding-top: 50px;
		@include box-shadow(0 -30px 50px darken($darkgrey, 10) inset);
		text-align: center;
		h1 {
			font-family: $chunk;
			color: $light;
			font-size: 3rem;
		}
		p {
			color: $light;
			font-family: $paragraph;
			line-height: 180%;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		img {
			width: auto;
		}
	}
	.projecttable {
		background: $red;
		border-top: 6px solid darken($red, 15);
		height: 50px;
	}
}