#ns_tagline,
#ns_work {
	display: none;
}

body {
	font-size: 100%;
	font-family: 'sinkin_sans200_x_light', Helvetica, sans-serif;
}

h2 {
	font-family: 'chunkfiveroman', Times, serif;
}

h1, h2, p {
	color: #333;
}

@-webkit-keyframes scrolltile {
    0% {
    	background-position: 0px 0px;
    } 100% {
    	background-position: 0px 592px;
    }
}
@-moz-keyframes scrolltile {
    0% {
    	background-position: 0px 0px;
    } 100% {
    	background-position: 0px 592px;
    }
}
@-o-keyframes scrolltile {
    0% {
    	background-position: 0px 0px;
    } 100% {
    	background-position: 0px 592px;
    }
}
@keyframes scrolltile {
    0% {
    	background-position: 0px 0px;
    } 100% {
    	background-position: 0px 592px;
    }
}

#hero:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

#logoArea {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
	background: #e04028;
	padding: 40px 300px;
	border-radius: 180px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(224,64,40,1) 39%, rgba(118,34,21,0) 68%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(39%,rgba(224,64,40,1)), color-stop(68%,rgba(118,34,21,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,64,40,1) 39%,rgba(118,34,21,0) 68%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(224,64,40,1) 39%,rgba(118,34,21,0) 68%,rgba(0,0,0,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(224,64,40,1) 39%,rgba(118,34,21,0) 68%,rgba(0,0,0,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(224,64,40,1) 39%,rgba(118,34,21,0) 68%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04028', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


p#countdown {
	font-size: 1em;
}


.scrolledshadow {
	box-shadow: 2px 3px 10px #333 !important;
}


#topnav a {
	color: #fff;
	line-height: 3rem;
}



.shadowed {
	box-shadow: 0 3px 10px #333 !important;
}

#topnav ul {
	list-style-type: none;
}

#topnav ul li {
	float: left;
	margin-right: 1.5rem;
}


#topnav ul li:last-child {
	margin-right: 0;
}

#projectlogo,
#logo.mobile {
	margin-bottom: 30px;
}

.nohero section {
	min-height: 100vh !important;
	padding-top: 10vh !important;
	padding-bottom: 10vh !important;
}

/*----------------------------------------------------------*/

#projwrapper,
#workwrapper {
	background: url('../images/vignette.png') no-repeat center center, url('../images/halftone.png');
	background-size: cover, 300px 300px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#projectslider {
	padding: 0;
	overflow: hidden;
}

#slidercover {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/shadowleft.png') no-repeat center left, url('../images/shadowright.png') no-repeat center right;
	background-size: auto 100%, auto 100%;
}

#slidesrow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.slide {
	display: block;
	float: left;
	text-align: center;
}

.slide img {
	width: 70%;
}

.buttonholder {
	padding: 0 !important;
}

.slide h2 {
	color: #fff;
	text-shadow: 2px 2px #333;
}

.sliderbuttons {
	cursor: pointer;
	opacity: .5;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.activeitem {
	opacity: 1 !important;
}


/*----------------------------------------------------------*/

#projectheadline {
	color: #fff;
	font-size: 1.2rem;
	width: 90%;
	margin: 0 auto;
}

#logoArea.project {
	width: 99%;
}

#logoArea.project #projectlogo {
	width: 207px;
	box-shadow: 10px 10px #892718;
}

/*----------------------------------------------------------*/

#contactwrapper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url('../images/bg-londonnight.jpg') no-repeat center center;
	background-size: cover;
}

#contactform {
	margin-top: 30px;
}

#contactform h2 {
	color: #fff;
	text-shadow: 4px 4px #e04028;
}

#contactform p {
	color: #fff;
	padding: 10px;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .6);
}

#theform textarea,
#theform input[type="text"] {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	border: none;
	box-shadow: none;
	font-family: 'sinkin_sans300_light', Helvetica, sans-serif;
}

#theform label {
	font-family: 'sinkin_sans800_black', Helvetica, sans-serif;
	color: #fff;
	text-shadow: 1px 1px #333;
	font-size: 1rem;
}

#formsubmit,
#formsubmit:active,
#formsubmit:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

#formsubmit {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .4);
	font-family: 'chunkfiveroman', Times, serif;
	color: #fff;
	text-shadow: .8px .8px #333;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	cursor: pointer;
	float: right;
}

footer {
	height: 100vh;
	background-color: blue;
}


.thanks #logoArea p {
	margin: 0 auto;
}

#devblurb {
	margin-top: 20px;
}

#projectimage {
	text-align: center;
}

.livelink {
	font-family: 'sinkin_sans900_x_black', Arial, sans-serif;
}

#worktitle {
	text-align: center;
}

#hero.project {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#projectheadline {
	font-size: 1rem;
}

@media screen and (min-width: 480px) {
	#logoArea {
		width: auto;
	}

	#mobnav {
		display: none;
	}

	#topnav {
		display: block;
	}



	.home #logoArea h1 {
		display: block;
	}

	.home #logoArea #logo {
		margin-top: 30px;
		margin-bottom: 30px;
	}



	#logoArea #logo.desktop {
		margin-left: 22%;
		width: 230px;
	}

	#juggleBox {
		height: 75px;
	}

	#juggleBox .tag p {
		font-size: 3rem;
		line-height: 75px;
		margin: 0;
		padding: 0;
	}

	.thanks #logoArea p,
	#logoArea.project #projectheadline {
		width: 80%;
	}

	.thanks #logoArea {
		width: 99%;
	}

}

@media screen and (min-width: 640px) {
	#projectheadline {
		font-size: 1.2rem;
	}

	.slide img {
		width: auto;
	}

	.buttonholder {
		padding: 0 0.625rem 1.25rem !important;
	}

	.sliderbuttons {
		box-shadow: 4px 4px #333;
	}

	#contactwrapper,
	#projwrapper,
	#workwrapper {
		min-height: 80vh;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}

	.thanks #logoArea p,
	#logoArea.project #projectheadline {
		width: 70%;
	}

	#logoArea.project h1 {
		font-size: 6rem;
		line-height: 6rem;
		letter-spacing: .2rem;
	}
}

@media screen and (min-width: 1025px) {
	.thanks #logoArea p,
	#logoArea.project #projectheadline {
		width: 50%;
	}
}

@media screen and (max-width: 640px){

}

@media screen and (min-width: 641px) and (max-width: 1024px){
	
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
	
}

@media screen and (min-width: 1441px) and (max-width: 1920px){
	
}

@media screen and (min-width: 1921px){
	
}